/* App.css veya global CSS dosyanızda ekleyin */
@keyframes flash {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .flash-red {
    animation: flash 1s ease-in-out;
    color: red;
  }
  
  .flash-green {
    animation: flash 1s ease-in-out;
    color: green;
  }
  